@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

body {
    font-family: 'Chivo Mono', monospace;
    font-size: 1.0rem;
    line-height: 1.5;
    color: #333;
    background-color:antiquewhite;
    margin: 0;
    padding: 0;
}

.nav h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #fff;
    


    
}

.nav h1 a {
    text-decoration: none;
    color: #fff;
}

.nav h1 a:hover {
    color: #333;
    text-decoration: underline;
}



img {
    max-width: 100%;
    height: auto;
}

.nav {
    background-color: #a85151;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    
}

.nav-links a {
    list-style: none;
    margin: 25px;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
}

.right {
    margin-top: 40px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.product {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: #a85151 solid 1px;
}

.product img {
    width: auto;
    height: auto;
    border-radius: 20px 20px 0 0;
    border:#333 solid 1px;
}

.product button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: #a85151 solid 1px;
    background-color: #a85151;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.cart{
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    
}

.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    border: #a85151 solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.cart-item button {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: #a85151 solid 1px;
    background-color: #a85151;
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
}

.cart-item img {
    width: 50px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    
}

.cart-item h3 {
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.cart-item p{
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-left: 10px;

}

.cart .total {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    
}

.cart .total h3 {
    margin-right: 20px;
}

.cart .total .checkout-from-cart button {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: #a85151 solid 1px;
    background-color: #a85151;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;


}

.cart .total .checkout-from-cart a {
    text-decoration: none;
    color: #fff;
}

.checkout {
    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-left: 10px;
    margin-right: 40px;

    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
}

form label {
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}



form input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: #a85151 solid 1px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

form button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: #a85151 solid 1px;
    background-color: #a85151;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
    color: #fff;
}   

form a {
    text-decoration: none;
    color: #333;
}

